html, body
{
	margin: 0 0 0 0;
	padding: 0;
	height: 100%;
	background-image: url('../images/gradient10x3200blue.jpeg');
}

#mainbannercontainer
{
	position: relative;
	margin: auto;
	width: 900px;
}

#mainbanner
{
	background-image:url('../images/mainbanner.jpeg');
	position: absolute;
	top:20px;
	margin: auto;
	width: 900px;
	height: 200px;
	z-index: 4;		
	background-color: #FEF0DD;
}

#mainbannerlogo
{
	position: absolute;
	margin: auto;
	top: 40px;
	left: 20px;
	width: 200px;
	height: 86px;
}

#quicklinkbarcontainer
{
	position: relative;
	margin: auto;
	width: 900px;
}

#quicklinkbar
{	
	background-image: url('../images/gradient1x20blue.jpeg');
	position: absolute;
	top:0px;
	margin-left: 0px;
	margin-right: 0px;
	width:900px;
	z-index: 4;
	background-color:#0099FF; 
	height: 20px;
	font-style: normal;
	font-family:Verdana, Arial, Sans Serif; 
}

#quicklinkbar ul
{
	margin-top: 2px;	
	display: block;
	padding-left: 20px;
	padding-top: 0px;	
	font-size: 13px;
}

#quicklinkbar li
{
	display: inline;
	margin-right: 12px;
}

#quicklinkbar a
{
   font-weight: bold;
	color:#CCFFFF;
	text-decoration: none;
}